@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rowdies:wght@300;400;700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.back {
  background: linear-gradient(272.69deg, #042e7e 2.21%, #6af4f4 97.71%);
}
.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 56px;
  background: #042e7e;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #042e7e;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0px 11px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px;
  gap: 32px;
  background: #042e7e;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #fff7d8;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 60px;
    height: 60px;

    margin-right: 548px;
  }
  .header {
    width: 100%;

    height: 80px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1400px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;
    width: auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
    color: #fff7d8;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 408px;

  padding: 243px 39px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero.png");
  margin: auto;
}
.home-text {
  font-family: Rowdies;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  -webkit-text-stroke: 2px#5C0F00;
  padding-bottom: 40px;
}
.home__google-button_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 760px;

    padding: 488px 434px 0px;
    background-image: url("/img/home/hero\ \(1\).png");
  }
  .home-text {
    font-family: Rowdies;
    font-size: 48px;
    font-weight: 900;
    line-height: 58.09px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    -webkit-text-stroke: 4px #5c0f00;
    padding-bottom: 40px;
  }
}
.about {
  padding: 15px 15px 0px;
  margin: auto;
  width: 375px;
  height: 714px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/about.png");
}
.about-container {
}
.about-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/title\ \(1\).png");
  width: 285px;
  height: 61px;
  font-family: Rowdies;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.81px;
  letter-spacing: 0.06em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff6e9;
  -webkit-text-stroke: 2px#992B00;
  padding-top: 11px;
  margin: auto;
}

.about-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 25px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 76px 72px 0 622px;
    margin: auto;
    width: 1440px;
    height: 615px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: url("/img/about/about\ \(1\).png");
  }
  .about-container {
  }
  .about-title {
    width: 494px;
    height: 106px;

    font-family: Rowdies;
    font-size: 48px;
    font-weight: 900;
    line-height: 49.68px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    -webkit-text-stroke: 3px#992B00;
    padding-top: 20px;
  }
  .about-title-two {
    margin: 0;
  }
  .about-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 56px 0 0;
  }
}

.play {
  width: 375px;
  margin: auto;
  padding: 45px 0px 45px;
  text-align: center;
}

.play-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;
}
.play-item {
  width: 345px;
  height: 133px;
  padding: 15px;
  border-radius: 16px;
  background: #fcda95;
  border: 2px solid #992b00;
}

.play-text-bold {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #480a00;

  padding: 0px 0 15px;
}
.play-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #480a00;
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;
    height: 1146px;
    margin-bottom: 100px;
    padding: 0px 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background: url("/img/play/advantages.png");
  }

  .play-list {
    margin: auto;
    display: flex;
    align-items: start;

    flex-direction: column;
    gap: 56px;
    padding-top: 56px;
  }
  .play-item {
    width: 856px;
    height: 151px;
    padding: 24px 16px;
    border: 4px solid #992b00;
  }
  .play-item-two {
    margin-left: 220px;
  }
  .play-item-three {
    margin-left: 440px;
  }
  .play-text-bold {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #480a00;

    padding: 0px 0 16px;
  }
  .play-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #480a00;
  }
  .play-img {
    display: none;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 45px 15px;
}

.gallery__list {
  width: auto;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: auto;
}
.gallery__item {
  width: 345px;
  height: 185px;

  overflow: hidden;
  position: relative;
  margin: 0 12px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-next:before {
  content: "→";
  display: none;
}
.slick-prev:before {
  content: "←";
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 100px 182px;
  }

  .gallery__item {
    width: 1076px;
    height: 566px;

    overflow: hidden;
    position: relative;
    margin: 0 12px;
  }

  .gallery__list {
    padding-top: 56px;
    width: auto;
  }
  .slick-next:before {
    content: url("/img/gallery/arrow\ navigation\ \(1\).png");
    display: flex;
  }
  .slick-prev:before {
    content: url("/img/gallery/arrow navigation.png");
    display: flex;
    margin-left: -60px;
  }
}
.features {
  width: 375px;
  padding: 45px 0px;
  margin: auto;
}
.features-list {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.features-item {
  width: 332px;
  height: 348px;
  margin: auto;
  border-radius: 24px;
  background: #fcda95;
  border: 2px solid #992b00;
}
.features-img {
  width: 330px;
  height: 244px;
  border-radius: 23px 23px 0 0;
  margin: auto;
}
.features-text-bold {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 16px 0;
  color: #480a00;
}
.features-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #480a00;
  padding: 0 16px 16px;
}
.features-img-two {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;

    padding: 100px 0px;

    margin: auto;
  }
  .features-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1px;
  }
  .features-img-two {
    display: none;
  }
}

.advantages {
  width: 375px;
  margin: auto;
  padding: 45px 0px;
}
.advantages-list {
  padding-top: 25px;
  width: auto;
}
.advantages-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/advantages/review\ container.png");
  margin: 0 12px;
  width: 373px;
  height: 180px;
  padding: 28px 62px;
}

.advantages-text-bold {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #480a00;

  padding: 0px 0 15px;
}
.advantages-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #480a00;
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    padding: 100px 0;
  }
  .advantages-list {
    padding-top: 56px;
    width: auto;
  }
  .advantages-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/advantages/review\ container.png");
    margin: 0 12px;
    width: 495px;
    height: 226px;

    padding: 42px 80px;
  }

  .advantages-text-bold {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0px 0 15px;
  }
  .advantages-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.gallery-diary {
  width: 375px;
  height: 808px;

  margin: auto;
  padding: 25px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery-diary/unique.png");
}
.gallery-diary-title {
  font-family: Rowdies;
  font-size: 20px;
  font-weight: 400;
  line-height: 20.81px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 5px 59px 0;
}
.gallery-diary__list {
  list-style-type: disc;
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.gallery-diary__item {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-left: 32px;
}

@media screen and (min-width: 1200px) {
  .gallery-diary {
    width: 1440px;
    height: 615px;

    margin: auto;
    padding: 56px 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/gallery-diary/unique\ \(1\).png");
  }
  .gallery-diary-title {
    background-image: url("/img/gallery-diary/title\ \(2\).png");
    width: 913px;
    height: 106px;

    font-family: Rowdies;
    font-size: 40px;
    font-weight: 700;
    line-height: 49.68px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 20px 0 0;
  }
  .gallery-diary__list {
    width: 746px;

    gap: 16px;
    padding-top: 56px;
    padding-bottom: 36px;
  }
  .gallery-diary__item {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    margin-left: 32px;
  }
}
.footer {
  background: #480a00;

  color: #fff6e9;
  padding: 25px 15px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.footer-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: start;

  gap: 57px;
}
.footer-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #fff6e9;
}

.footer-copyright {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer-img {
  width: 146px;
  height: 104px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 36px 72px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
  }
  .footer-container-two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 731px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-top: 20px;
    gap: 52px;
  }
  .footer-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 0px;
  }
  .footer-img {
    width: 276px;
    height: 197px;
  }
}
.policy-terms-container {
  flex-direction: column;

  padding: 124px 32px 116px;
  background-color: #042e7e;
}

.policy-terms-title {
  margin: auto;
  font-family: Rowdies;
  font-size: 26px;
  font-weight: 700;
  line-height: 29.81px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: #fff6e9;
  -webkit-text-stroke: 2px#992B00;
  width: 330px;
  height: 61px;
  padding-top: 11px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/title.png");
}

.policy-terms-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    width: 545px;
    height: 106px;

    font-family: Rowdies;
    font-size: 40px;
    font-weight: 700;
    line-height: 49.68px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 20px;
  }

  .policy-terms-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
